@charset "utf-8";
*, :is(::after, ::before){margin: 0px;padding: 0px;box-sizing: border-box;outline: none;list-style: none;text-decoration: none;}
html, body{width: 100%;height: 100%;}
body{font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;}
body #container{ max-width: 1440px;width: inherit;height: inherit;margin: 0px auto;}
/* start areaFormLoginSignUp */
body #container #areaForm{margin: auto;width: inherit;height: inherit;display: flex;}
body #container #areaForm .wrapperForm{margin: auto;background-color: #fff;}
    /* start formLogin */
body #container #areaForm .wrapperForm.Login.active{display: none;}    
body #container #areaForm .wrapperForm .formLogin{width: 230px; padding: 15px 0px;border: 1px solid rgb(157, 255, 157, .2);}
body #container #areaForm .wrapperForm .formLogin  div{margin-bottom: 10px;}
body #container #areaForm .wrapperForm .formLogin  div:nth-child(4){width: fit-content;margin-right: auto;} 
body #container #areaForm .wrapperForm .formLogin  div:nth-child(4) input.btn{width: fit-content;border: none;  background-color: rgb(25, 212, 128);padding: 5px 10px;cursor: pointer;font-size: 16px;}
body #container #areaForm .wrapperForm .formLogin  div > input{display: block;width: 100%;margin-top: 5px;border-color: rgba(0, 0, 0, 0.587);padding: 3px;}
body #container #areaForm .wrapperForm > h5 .statusText.signUp{color: coral;display: inline-block;cursor: pointer;}
    /* start formSignUp */
body #container #areaForm .wrapperForm.SignUp.active{display: none;}
body #container #areaForm .wrapperForm .formSignUp{width: 230px; padding: 15px 0px;border: 1px solid rgb(157, 255, 157, .2);}
body #container #areaForm .wrapperForm .formSignUp  div{margin-bottom: 10px;}
body #container #areaForm .wrapperForm .formSignUp  div > input{display: block;width: 100%;margin-top: 5px;border-color: rgba(0, 0, 0, 0.587);padding: 3px;}
body #container #areaForm .wrapperForm .formSignUp  div:nth-child(5) > label{margin-right: 15px;}
body #container #areaForm .wrapperForm .formSignUp  :is(div:nth-child(5), div:nth-child(7)) > input{display: inline-block;width: fit-content;}
body #container #areaForm .wrapperForm .formSignUp  :is(div:nth-child(5), div:nth-child(7)) > input:last-child{margin-left: 10px;}
body #container #areaForm .wrapperForm .formSignUp div:nth-child(8) input.btnSignUp{background-color: rgb(25, 212, 128);border: none;padding: 5px 0px;font-size: 16px;cursor: pointer;}
body #container #areaForm .wrapperForm > h5 .statusText{color: coral;display: inline-block;cursor: pointer;}
